.pln {
  font-size: 40px;
  color: #000　!important;　
}

.lit {
  font-size: 40px;
  color: #000 !important;
}

.str {
  font-size: 40px;
  color: #000 !important;
}

.pun {
  font-size: 40px;
  color: #000 !important;
}

.kwd {
  font-size: 40px;
  color: #000 !important;
}

#content_ichigojambasic {
  font-size: 20px;
  user-select: text;
  cursor: auto;
}
